@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Diphylleia');


body {
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
    margin: 1rem;
    position: relative;
}

h1 {
    color: #000;
    width: 60%;
    text-align: center;
    padding: 1rem;
    font-family: 'Diphylleia', serif;
}

h2 {
    color: navy;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #bbb;
}

h3 {
    margin: 0;
}

h4 {
    color: #333;
    margin: 7px 0 5px 0;
}

p {
    margin: .2em;
}

main {
    margin-left: 2rem;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 0.25rem;
    padding: 1rem;
    background-color: #D2B4DE;
    border: 3px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    margin: 1rem;
}

li>img {
    width: auto;
    height: 30px;
}

footer {
    border-top: 1px solid #555;
    padding: 20px;
}