@import url('https://fonts.googleapis.com/css2?family=Diphylleia');
@import url('https://fonts.googleapis.com/css2?family=Capriola');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Diphylleia', serif;
	font-family: 'Capriola', serif;
	font-family: 'Allan', cursive;
	font-family: 'Roboto', sans-serif;
}

header,
main,
footer,
.navigation {
	max-width: 650px;
	margin: 0 auto;
}

header {
	display: flex;
	background-color: #41bbd9;
	align-items: center;
	justify-content: center;
	margin-top: 0.5rem;
}
.active {
	background-color: #ffca3a;
}
#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: #41bbd9;
}
img {
	width: 150px;
	margin: 1rem;
	height: 205px;
	box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.2),
		0 6px 20px 7px rgba(0, 0, 0, 0.19);
}

h1,
h2 {
	text-align: center;
	padding: 1rem;
	font-family: 'Diphylleia', serif;
}

h1 {
	color: white;
	font-size: 1em;
}
li,
a {
	font-family: 'Allan', cursive;
}
#displayItems {
	font-family: 'Allan', cursive;
}

ul {
	list-style-type: none;
}

#menu {
	position: absolute;
	top: 2.5rem;
	left: 1rem;
	padding: 0.25rem;
}
#menu::before {
	content: '☰';
}
#menu.open::before {
	content: '❌';
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
.navigation {
	background-color: #0a0303;
}

.navigation a {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0.5rem;
	color: #41bbd9;
	font-family: 'Capriola', serif;
	text-decoration: none;
}

.navigation a:hover {
	background-color: #ffca3a;
}

.navigation li {
	display: none;
}

main {
	padding-bottom: 3.3%;
}
.card {
	margin: 1rem auto;
	border: 2.5px solid rgb(168, 167, 167);
	border-radius: 2%;
	width: 98%;
	box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.2),
		0 6px 20px 7px rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

.card h3 {
	text-align: center;
	padding: 1rem;
	background-color: #41bbd9;
	color: white;
}

.card nav {
	text-align: center;
	padding: 1%;
}

.card ul {
	padding: 2rem;
}

.card li {
	padding: 0.5%;
}

footer {
	background-color: #41bbd9;
	padding: 1.2rem;
	display: block;
	text-align: center;
	color: white;
	font-family: 'Diphylleia', serif;
	margin-bottom: 0.5rem;
}

#lastModified {
	font-size: 1rem;
	color: yellow;
	padding-top: 1rem;
}
