@media screen and (min-width: 950px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header,
    main,
    footer,
    .navigation {
        max-width: 1800px;
    }

    header {
        font-size: 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    #mode {
        top: 5%;
        right: 5%;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        padding: 1rem;
        font-size: 1.5rem;
    }

    #menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .main-content {
        background-color: #ffffff;
        padding: 20px;
    }

    hr {
        grid-column: 1/3;
    }

    h2 {
        font-size: 3rem;
        text-align: unset;
        padding-left: 5%;
        grid-column: 2/3;
        margin-top: 1rem;
        grid-column: 1/3;
    }


    .container {
        grid-template-columns: 1fr 2fr;
        margin: 1.5em;
        text-align: center;
    }

    .card {
        width: 90%;
        font-size: 1.5rem;
    }

    #info {
        margin-left: -5%;
    }

    #displayItems,
    #current-events ul {
        padding: 1rem;
    }

    #displayItems nav,
    #current-events ul li {
        padding: 1rem;
    }

    footer {
        font-size: 1.5rem;
    }

    .hero-text {
        text-align: center;
        color: #37505C;
        padding: 10px 20px;
        font-size: 22px;
        text-decoration: none;
        margin: 50px 150px;
    }

    figure:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}