@import url('https://fonts.googleapis.com/css2?family=Diphylleia');
@import url('https://fonts.googleapis.com/css2?family=Capriola');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #2d3c1a;
	--secondary-color: #bbd69a;
	--accent1-color: #9ad2d6;
	--accent2-color: #3d1a1a;
	--heading-font: 'Courgette';
	--paragraph-font: Poppins, Helvetica, sans-serif;
	--headline-color-on-white: black;
	--headline-color-on-color: #9ad2d6;
	--paragraph-color-on-white: black;
	--paragraph-color-on-color: #bbd69a;
	--text-background-color: #2d3c1a;
	--nav-link-color: #000000;
	--nav-background-color: #9ad2d6;
	--nav-hover-link-color: #ffffff;
	--nav-hover-background-color: #396e94;
}

body {
	font-family: 'Diphylleia', serif;
	font-family: 'Capriola', serif;
}

header,
main,
footer,
.navigation {
	max-width: 680px;
	margin: 0 auto;
}

header {
	display: flex;
	background-color: var(--text-background-color);
	align-items: center;
	justify-content: center;
	margin-top: 0.5rem;
}

.active {
	background-color: #76746f;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: var(--text-background-color);
}

img {
	width: 150px;
	margin: 1rem;
	height: 205px;
	box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.2),
		0 6px 20px 7px rgba(0, 0, 0, 0.19);
}

h1,
h2 {
	text-align: center;
	padding: 1rem;
	font-family: 'Diphylleia', serif;
}

h1 {
	color: white;
	font-size: 1em;
}

li,
a {
	font-family: 'Allan', cursive;
}

#displayItems {
	font-family: 'Allan', cursive;
}

ul {
	list-style-type: none;
}

.card {
	margin: 1rem auto;
	border: 2.5px solid rgb(168, 167, 167);
	border-radius: 2%;
	width: 98%;
	box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.2),
		0 6px 20px 7px rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

.card h3 {
	text-align: center;
	padding: 1rem;
	background-color: var(--text-background-color);
	color: white;
}

.card nav {
	text-align: center;
	padding: 1%;
}

.card ul {
	padding: 2rem;
}

.card li {
	padding: 0.5%;
}


footer {
	background-color: var(--text-background-color);
	padding: 1.2rem;
	display: block;
	text-align: center;
	color: white;
	font-family: 'Diphylleia', serif;
	margin-bottom: 0.5rem;
}

#lastModified {
	font-size: 1rem;
	color: yellow;
	padding-top: 1rem;
}

/* small view navigation */

#menu {
	position: absolute;
	top: 1rem;
	left: 1rem;
	padding: 0.25rem;
}

#menu::before {
	content: '☰';
}

#menu.open::before {
	content: '❌';
}

.navigation {
	display: flex;
	flex-direction: column;
	background-color: #0a0303;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	color: white;
	font-family: 'Capriola', serif;
	text-decoration: none;
}

.navigation li a:hover {
	background-color: #ffca3a;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}

.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}

main {
	padding-bottom: 3.3%;
	max-width: 580px;
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {

	#menu {
		display: none;
		/* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	main {
		margin: 1rem auto;
	}

}