html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
}

li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
.copyright {
	color: #ffffff;
	text-decoration-style: dashed;
	text-align: center;
}
.updated {
	color: #fded0cd7;
	text-align: center;
}

.comment {
	font-size: 15px;
	font-style: italic;
}
p {
	font-size: 15px;
}

html {
	background-color: #ffffff;
}

body {
	width: 550px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 0 20px 20px 20px;
}

.page-header {
	margin: 45px;
	padding: 35px;
	color: #ffffff;
	text-shadow: 3px 3px 1px rgb(38, 38, 38, 15);
	font-size: 30px;
}

h1 {
	font-size: 25px;
	margin: 0;
	padding: 25px 0;
	color: #000000;
	text-shadow: 2px 2px 1px rgb(0, 0, 0, 0.3);
	text-align: left;
}

img {
	padding: 0 0 0 10px;
	margin: 20px auto;
	max-width: 125px;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px rgb(1, 1, 1),
		0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

header,
footer {
	background-color: #316dae;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px rgb(1, 1, 1),
		0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
	border-radius: 15px;
}

header {
	display: flex;
}
